//- components/header.jade
//- Header file shared by all pages that contains links to other pages
header
    div.row.small-collapse.headerParent
        div.columns.small-3
            span MovieDB
        div.columns.small-9
            div.row
                div.columns.small-3
                    a(href="/actors")
                        div
                            span Actors
                div.columns.small-3
                    a(href="/releases")
                        div
                            span Releases
                div.columns.small-3
                    a(href="/movies")
                        div
                            span Movies
                div.columns.small-3
                    a(href="/amd")
                        div
                            span Add/Update
