html
    head
        title Actors
        link(rel="stylesheet", href="/static/css/general.css")
        - var page = "actors"
    body
        include components/header.jade
        //- Actor Reports page
        p Actors 
        div.construct
        include components/footer.jade
    script(src='/static/js/vendor/jquery-2.1.4.min.js')
    script(src='/static/js/components/footer.js')

